<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body style="font-family: Calibri, Aptos, sans-serif; font-size: 11pt; color: #000000;">

<p>Hola {{supervisor_nombre}},</p>

<p>Espero que se encuentre muy bien.</p>

<p>Me pongo en contacto con usted para solicitar su valioso apoyo con respecto al cierre del registro de horas en el SIA correspondiente al periodo del <b>{{periodo}}</b>.</p>

<p>Para que <b>Max Barrios</b> pueda consolidar y completar el reporte general de este ciclo de manera oportuna, agradezco el apoyo recordando a su equipo la importancia de revisar sus registros. Espec&iacute;ficamente, requerimos verificar que aquellos colaboradores que tengan reportadas menos de 8 horas en d&iacute;as laborables regulares completen su carga a la brevedad posible.</p>

<p>A continuaci&oacute;n, comparto el detalle de los colaboradores de su unidad que presentan d&iacute;as registrados con menos de las 8 horas reglamentarias:</p>

{{tabla_html}}

<p style="margin-top: 12pt;">Sabemos que el d&iacute;a a d&iacute;a es muy din&aacute;mico, por lo que agradecemos de antemano su gesti&oacute;n para asegurar que la informaci&oacute;n del sistema se actualice prontamente y as&iacute; evitar retrasos en el procesamiento del reporte.</p>

<p>Quedo a su entera disposici&oacute;n en caso de que tenga alguna consulta o requiera asistencia con alg&uacute;n caso particular.</p>

<p>Saludos,</p>

<div style="margin-top: 16pt; color: #154B75; font-family: Calibri, sans-serif; font-size: 11pt;">
  <p style="margin: 0;">Jos&eacute; Luis Mu&ntilde;oz</p>
  <p style="margin: 0;">Ingeniero Civil</p>
  <p style="margin: 0;">Vicepresidencia de Ingenier&iacute;a e Infraestructura</p>
  <p style="margin: 0;">Tel: +(507) 272-1938 - <a href="http://www.pancanal.com" style="color: #154B75;">www.pancanal.com</a></p>
  <p style="margin: 0;"><a href="mailto:jlmunoz@pancanal.com" style="color: #154B75;">jlmunoz@pancanal.com</a></p>
</div>

</body>
</html>
